/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/***********************BASIC STYLES**************/


/* FEEL GOOD FEST 2005 SITEWIDE STYLES */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 16, 2015 */

@font-face {
    font-family: 'cooper_black';
    src: url('../fonts/cooper_black-webfont.eot');
    src: url('../fonts/cooper_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cooper_black-webfont.woff2') format('woff2'),
         url('../fonts/cooper_black-webfont.woff') format('woff'),
         url('../fonts/cooper_black-webfont.ttf') format('truetype'),
         url('../fonts/cooper_black-webfont.svg#cooper_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, 
body {
	height: 100%;
}

.main_container {
 	min-height: 100%;
	margin-bottom: -75px;
	position: relative;
}

/******************** ADDITIONAL SPLASH PAGE STYLES***********************/
.splash_container {
	text-align: center;
	font-family: 'Pontano Sans', Arial, sans-serif;
	color: white;
	text-shadow: 0px 5px 10px #000;
	font-size: 18px;
	margin: 15px;
}

#splashfgf {
		font-size: 64px;
}

#splashfgf, 
.outin, 
#location,
 #date {
	margin: 0px;
	padding-bottom: 0px;
	font-family: "cooper_black", sans-serif;    
}

.outin, 
#location, 
#date {
	color: deepskyblue;
}

#splashfgf {
	color: #fff;
}

#tag {
	color: #fff;
	font-family: "cooper_black";
	font-size: 18px;
}

.outin, 
#splashfgf, 
#splashpresents, 
#tag {
	text-transform: uppercase;
}

.outin {
	font-size: 124px;
	letter-spacing: 4px;
}

.outin:hover {
	color: white;
}

#date {
	font-size: 26px;
}

#splashpresents {
	font-size: 14px;
}

#location {
	font-size: 24px;
}

#enterbut {
	background: deepskyblue;
	height: 55px;
	width: 170px;
	color: white;
	line-height: 55px;
	font-size: 24px;
	font-weight: bold;
	display: block;
	border-radius: 2px;
	text-align: center;
	margin: 45px auto;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-family: "Pantano Sans", Arial, sans-serif;
	text-shadow: none;
}

a#enterbut {
	text-decoration: none;
}

#enterbut:hover {
	color: deepskyblue;
	background-color: #fff;
	-webkit-transition: background-color 0.3s ease-in,
													color 0.7s ease-in;
	-moz-transition: background-color 0.3s ease-in,
													color 0.7s ease-in;
	-o-transition: background-color 0.3s ease-in,
													color 0.7s ease-in; 
	-ms-transition: background-color 0.3s ease-in,
													color 0.7s ease-in; 
	transition: background-color 0.3s ease-in, color 0.7s ease-in;
}


/**************HOME PAGE STYLES***********/

.content_wrapper {
	margin: 0 auto;
	font-family: 'Pontano Sans', Arial;
}

.main_content{
	text-align: center;
	max-width: 960px;
	margin: 0 auto;
}

.nav {
	color: white;
	background-color: deepskyblue;
	margin-top: -15px;   
}

.right_nav {
	text-align: right;
 	margin: 0 25px 0;
}

.nav li {
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	padding: 10px 10px 1px;
}

#home, 
#about, 
#schedule, 
#contact {
	border-bottom: 5px solid white;
}

.head_content, 
.top_music, 
.bottom_music,
.right_nav{
	list-style-type: none;
}

.header {
	background-image: url("../img/Feel_Good_Fest_header.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;  
	background-position: 50%;
}

.head_content {
	font-family: "cooper_black";
	padding: 0 0 0 25px;
	margin: 0px;
}

#FGF {
	font-size: 20px;
	text-transform: uppercase;
	padding: 30px 0 0 30px;
	text-shadow: 0px 5px 10px #000;
}

#OI {
	font-size: 62px;
	line-height: 38px;
	margin-top: 40px;
	color: white;
}

h2 {
	border-bottom: 2px solid lightgrey;
	text-align: center;
	color: deepskyblue; 
	font-family: "cooper_black";
	font-size: 28px;
}

ul li {
	list-style-type: none;
}

#h2fgf {
	text-transform: uppercase;
}

.top_info {
	margin: 40px auto;
}

.bottom_info {
	margin: 0 auto;
}

.top_info ul, 
.bottom_info ul {
	text-align: center;
	margin: 15px auto;
	padding: 0;
}

.top_info ul li, 
.bottom_info ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 5px;
}

#fbbutton {
	background: #3b5998;
	height: 55px;
	width: 170px;
	color: #fff;
	line-height: 55px;
	font-size: 18px;
	font-weight: bold;
	display: block; 
	border-radius: 2px;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
}

#tixbutton {
	background: deepskyblue;
	height: 55px;
	width: 170px;
	color: white;
	line-height: 55px;
	font-size: 18px;
	font-weight: bold;
	display: block;
	border-radius: 2px;
	text-align: center;
	margin: 45px auto;
	text-transform: uppercase;
}

#fest_vid, #ball_vid { 
	padding: 0;
	width: 500px;
	height: 300px;
	margin: 25px auto;
}

.music {
	margin-bottom: 50px;
}

.music_list li {
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	display: block;
}

.music_list {
	padding: 0;
}

#kumasi {
	letter-spacing: 12px;
	font-size: 63px;
	font-family: Arial;
	font-weight: bold;
}

.art_row {
	width: 100%;
	margin-bottom: 50px;
}

.art_row ul li {
	margin: 15px 0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

#artlist1, #artlist2 {
	display: inline-block;
	width: 43%;
	vertical-align: top;
	margin: auto;
	padding: 0;
}

.artdoc {
	display: block;
	font-weight: bold;
}

.food_row {
	width: 100%;
}

.food_row ul {
	padding: 0px;

}

.food_row ul li {
	height: 180px;
	width: 200px;
	background-color: deepskyblue;
	margin: 25px 10px 50px 10px;
	display: inline-block;
	color: deepskyblue;
	border-radius: 5px;
}

.food_row a:link, 
.food_row a:visited {
   color: white;
}

/********************FOOTER STYLING************************/

.clearfooter {
	height: 75px;
	clear: both;
}

footer {
	clear: both;  
}

footer {
	text-align: center;
	line-height: 10px;
	font-size: 12px;
	background-color: lightgrey;
	padding: 5px 0;
	height: 75px;
	position: relative;
}

footer p {
	margin: 0 5px;
}

footer ul {
	margin: 0;
}

footer ul li {
	display: inline-block;
	margin: 0 10px;
	padding: 5px 10px;
}

footer a:link,
footer a:visited {
	color: deepskyblue;
}


/*************LINK STYLING***********/

a {
    text-decoration: none;
}

.header a:link, 
.header a:visited, 
.food_row a:link, 
.food_row a:visited,
.nav li a:link,
.nav li a:visited {
	color: white;
}

.nav li a {
	padding: 10px 20px 10px;
}

.food_row a:link {
	text-decoration: underline;
}

.artdoc a:link {
	text-decoration: underline;
	color: #222;
}

.artdoc a:visited {
   color: #222;    
}

/***********ABOUT PAGE STYLING************/

h3 {
	font-family: 'cooper_black';
	color: deepskyblue;
}

.about_right,
.about_left {
	width: 43%;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin: 0 30px;
}

.about_right p {
	margin-top: -10px;
}

#about_fgf {
	color: deepskyblue;
	font-family: 'cooper_black';
	font-size: 18px;
}


/***********SCHEDULE PAGE STYLING************/


.schedule_list {
	margin: 10px 10px 40px;

}
.scheduler {
	margin: 0;
	padding: 0;
}

.scheduler li {
	text-align: center;
	display: block;
	border-bottom: 1px solid lightgrey;
    
}

 .scheduler li:nth-child(odd) {
	font-size: 20px;
	font-family: "Pontano Sans";
	padding: 10px 20px 0px 20px;
     
 }

.scheduler li:nth-child(even) {
	font-size: 16px;
	font-weight: bold;
	color: deepskyblue;
	background-color: lightgrey;
	padding:0px 10px;
}

#sch_kumasi {
	font-family: Arial;
	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: 3px;
}


/******************CONTACT PAGE STYLING*********************/

.contactees {
	max-width: 460px;
	margin: 0 auto;
	padding: 0;
}

.contactees li {
	text-align: center;
}

.contactees li:last-child {
	margin: 25px 0;
}

.contactees li h3 {
	margin-bottom: 0;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media screen and (max-width: 876px) {
    
    .right_nav {
        text-align: center;
        margin: 0;
        padding: 0
    }
    
    .top_info ul li, 
    .bottom_info ul li {
        display: block;
        margin: 0 auto;
        padding: 0;
    }
	  
    .nav {
        padding: 30px 0 0 0;  
    }
    
    .about_left, 
    .about_right {
        display: block;
        width: 90%;
        text-align: left;
    }
		
    #splashfgf {
        font-size: 42px;
    }
		
    .outin {
        font-size: 84px;
    }
}

@media screen and (max-width: 480px) {
	
	.nav li {
		display: block;   
    }
    
    .nav {
		padding: 30px 0 0 0;  
    }
    
    .right_nav {
		margin: 0;
        padding: 0;
    }
   
    .head_content {
        text-align: left;
        display: block;
    }
    
    #OI {
        font-size: 50px;
    }
    
    #artlist1, 
    #artlist2 {
        display: block;
    }
    
    .food_row ul li {
        display: block;
        margin: 20px auto;
    }
    
    #fest_vid, 
    #ball_vid {
        width: 100%;
    }
		
    .about_left, 
    .about_right {
		display: block;
		width: 90%;
		text-align: left;
		margin: 0 auto;
    }
		
    #splashfgf {
        font-size: 42px;
    }
		
    .outin {
        font-size: 64px;
    }
}



@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
